-# Local vars -
  context: 'subcategory' or 'category'
  business_category: the BusinessCategory instance
  parent_cat_id: ID of the parent category for a subcategory

%tr.category-display-row{ id: "category-display-row-#{business_category.id}",
                          class: context == 'subcategory' ? 'table-warning' : '' }

  %td.name= business_category.name

  - if context == 'category'
    %td.description= business_category.description
    %td.add_subcategory
      = link_to icon('fas', 'plus', class: 'add-entity-button'),
                new_business_category_path(parent_cat_id: business_category.id),
                remote: true,
                class: 'btn btn-sm btn-light new-category-button'
  - else
    %td.description{ colspan: 2}= business_category.description


  %td.view
    = link_to icon('far', 'eye'), business_category

  %td.edit
    = link_to icon('far', 'edit'),
              get_edit_row_business_category_path(business_category,
                                                  parent_cat_id: parent_cat_id),
              remote: true,
              class: 'edit-category-button'

  %td.delete
    = link_to icon('far', 'trash-alt'),
              business_category, method: :delete, remote: true,
              data: { confirm: t('confirm_are_you_sure') },
              class: 'delete-category'
