%tr.category-edit-row{ id: "category-edit-row-#{business_category.id}" }

  %td(colspan = 5)

    #category-edit-errors

    = form_for business_category, remote: true,
               html: { class: 'edit-category-form' } do |f|

      %table.category-edit-row-table
        %tbody
          %tr
            %td
              - if record_type == 'existing_category'
                %b= business_category.name
              - else
                - if context == 'category'
                  %b= t('business_categories.new.title')
                - else
                  %b= t('business_categories.new_business_subcategory')
              %br
              %br
              = f.submit t('submit'), class: 'btn btn-success btn-small'
              %br
              %br
              - if record_type == 'existing_category'
                = link_to t('cancel'),
                          get_display_row_business_category_path(business_category),
                          remote: true,
                          class: 'edit-category-cancel-button btn btn-danger btn-small',
                          id: "cancel-category-edit-#{business_category.id}"
              - else
                = link_to t('cancel'), {}, href: '#',
                          class: 'new-category-cancel-button btn btn-danger btn-small'

            %td
              .form-group
                = f.label :name, t('activerecord.attributes.business_category.name') , class: 'required'
                = f.text_field :name, class: 'form-control'
            %td
              .form-group
                = f.label :description, t('activerecord.attributes.business_category.description')
                = f.text_field :description, class: 'form-control'
            %td
              = hidden_field_tag :parent_cat_id, parent_cat_id
